html { font-family: sans-serif; background-color: white;  min-height: 100%; height: 100%;}
body { background: #EDF4EB;  margin-bottom: 60px; height: 100%; overflow: hidden;}
h1 { color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-bottom: 1px solid #EDF4EB;  margin-top: 2rem; width: 100%; flex: 1 1 auto;}
header { background: #2C323F; flex: auto; display: flex; height: 5.5vh; padding-right: 1vw;}
header h1 { margin: 0; padding-left: 0.5rem; padding-right: -2rem; font-size: 1.25em; color: #B2C6A3; }
header h1 b { color: #E85C5A;}
/* header h1 a { text-decoration: none; padding: 0.25rem 0.5rem; } */
/* nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; } */
.logo-image{
  height: 100%;
  width: 3.5vw;
  height: 6vh;;
  min-width: 50px;
  max-width: 50px;
  background-image: url('images/favicon.png');
  background-size: contain;
  background-repeat: no-repeat;
  flex: 1 1 auto;
}
.brand-text { flex: 5 1 auto; align-self: center; }
.page-header-text  { flex: 40 1 auto; align-self: flex-end; text-align: center; color: #B2C6A3; padding-bottom: 0.25vh;}
.page-header-text h1  { font-size: 5vh; color: #D4DBD2;}

.wrapper { display: flex; flex-direction: row; height: 100%; margin: 0; padding: 0}
.content { height: 100%; padding-left: 1vw; margin: auto; padding-top: 1.5vh; flex-basis: 90vw; overflow:auto; flex: 2 1 auto;}
/*.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; } */
.flash-container { position: absolute; top: 10vh; width: 30vw; left: 50vw; margin-left: -15vw  }
.flash { margin-bottom: 3vh; padding: 0.75em; background: #cae6f6; border: 1px solid #377ba8;  text-align:center;}
.dynamic-flash {
  position: relative;
  width: 33%;
}

/* New Pallate: 10-2019
 *  #2C323F (Dark Greyish)
 *  #E85C5A (Redish)
 *  #EDF4EB (Light green)
 *  #D4DBD2 (Light grey/green)
 *  #B2C6A3 (Desat green)

*/
input.danger { color: #cc2f2e; }

.footer {
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5vh; /* Set the fixed height of the footer here */
  background-color: #2C323F;
  padding:0;
  margin: 0;
  z-index: 99;
}

#trigger-guid {
  color: lightgray;
  font-size: small;
  float: left;
}

.alert-icon { color: #111;  cursor:pointer; }
.alert-icon sub {vertical-align:baseline; top: 0.4em; left: -0.25em; color: red; font-size: small; position: relative; font-weight: bold;}

.alert-icon:hover .alert-tooltip { visibility: visible; }
.alert-tooltip { visibility: hidden; border: 1px solid grey; border-radius: 6px; position: absolute; left: 5; background-color:white; color: #333; z-index: 99; }
.alert-tooltip label { color: blue; }
.alert-tooltip label:after { content: ':'; }
.nopadding { padding:0 !important; margin: 0 !important;}
.noborder { border:0 !important;}
.button-general { background-color: inherit; padding: 0.1em; text-decoration: none; border: none;  color: #111;   cursor:pointer; vertical-align: top;}
.home-button { background-color: lightblue; margin: 5px; color: white; text-decoration: none; width:30%;  vertical-align: baseline;}
.home-button:hover  { background-color: #8ab1db; text-decoration: none;}
.home-button span { vertical-align: baseline;}
.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: darkgrey;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
   width: 5em;
   height: 2em;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.5em;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(3.1em);
  -ms-transform: translateX(3.1em);
  transform: translateX(3.1em);
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'OFF';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{
  content:'ON';
}


.slider-sm:after {
  content:'';
}

input:checked + .slider-sm:after { content: '';}
.slider-sm {
  margin: 0 auto;
   width: 2.5em;
   height: 1.0em;
}
.slider-sm:before {
  height: 0.5em;
  width: 0.5em;
}

input:checked + .slider-sm:before {
  -webkit-transform: translateX(1.6em);
  -ms-transform: translateX(1.6em);
  transform: translateX(1.6em);
}

.dashboard-buttons {

}

.dash-item {
  background-color: white;
  border: 2px solid  #2C323F;

}
.dash-stat {
  margin: 0 auto;
  color: #E85C5A;
  font-size: 4em;
  padding: 1em;
}

.dash-name {
  padding: 0.5em;
  color: #EDF4EB;
  background-color: #2c323F;
  text-align: center;
  font-weight: 450;
  letter-spacing: 2px;

}

.table-key {
  background: #D4DBD2;
  text-align: right;
}
.key-item {
    padding-left: 1vw; padding-right: 1vw;
    font-size: 0.75em;
}

#member-table_wrapper, #tone-table_wrapper, #user-table_wrapper, #trigger-table_wrapper, #carrier-table_wrapper { width: 100%;}

.trigger-url { display: none; }
.profile-button {
                  flex-direction: row;
                  align-items: center;
                  display: flex;
                  height: 100%;
                  color: #E85C5A;
                  border-radius: 2px;
                  padding-left: 5px;
                  padding-right: 5px;
                  text-align: center;
                  vertical-align: middle;
                    -webkit-touch-callout: none; /* iOS Safari */
                    -webkit-user-select: none; /* Safari */
                    -khtml-user-select: none; /* Konqueror HTML */
                    -moz-user-select: none; /* Old versions of Firefox */
                    -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                                  supported by Chrome, Opera and Firefox */
 }

.profile-button:hover {background-color: #B2C6A3; color: #2C323F; text-decoration: none;}
.profile-button:hover  { color: #2C323F; border-left: 1px solid #B2C6A3; }
.profile-button  i {flex: 1;  font-size: 1em; padding-right: 0.5vw;}
.profile-button  b {flex: 1; }
.menu-label {
  color: #D4DBD2;
  font-weight: bold;
  font-size: 1.1em;
  margin: 0 auto;
  padding-bottom: 1em;
  }

.side-nav {
  height: 100%;
  background-color: #2C323F;
  flex: 0.0 0.8 5.5vw;
  border-right:  1px solid #444;
  display: flex;
  flex-direction: column;

 }
 .side-nav ul {
   list-style: none;
   text-decoration: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
   flex-direction: column;
   display: flex;
   flex-grow: 50;

 }
.side-nav ul li { padding: 0; margin: 0;  flex: 0 0 auto;}
.side-nav ul li a {
  flex-direction: column;
  display: flex;
  font-weight: bold;
  color: #D4DBD2;
  line-height: 1em;
  text-align: center;
  padding-top: 1.5em;
}
.side-nav ul li a:hover {
  text-decoration: none;
  color: #2C323F;
  background-color: #EDF4EB;
}


.side-nav ul li .fas { flex:1 1 auto;  padding-left: 0.5em;}
.side-nav ul li b  { flex: 1 1 auto; font-weight: 600;  }

form .error {
  color: #F00;
}
.dropdown-menu  {
width: 100%;
}
.dropdown-menu .nav-item a {
  color: #D4DBD2;
  width: 100%;
  padding: 0.25em;
}
.dropdown-menu .nav-item a:hover {
  color: #2C323F;
  background-color: #EDF4EB;

}
.form-control { border-color: #B2C6A3; }

.table-controls button {
  border: 1px solid #D4DBD2;
  padding: 0.5em;
  border-radius: 5px;
  background-color: #2C323F;
  color: #D4DBD2;
}
.table-controls button:hover {
  background-color: #D4DBD2;
  color: #E85C5A;
}
.table-controls button b { padding-left: 0.5em;}

.table-controls { padding-bottom: 1em; width: 5vw;}

.table .thead-dark th  { background-color: #2C323F;}
.table {background-color: whitesmoke; }

#login-screen {
  padding-top: 10vh;
}
.login-form  {
  margin: 0 auto;
  background-color: #B2C6A3;
  text-align: center;
  border: 1px solid #2C323F;
  padding: 2em;
}

.login-form input {
  border: 1px solid #B2C6A3;
  color: #2C323F;
  padding: 0.5em;

}
.login-form label {
  width: 5em;
  font-weight: 500;
  text-align:right;
}
.login-form button {
  margin: 0 auto;
  width: 10em;
  background-color: #2C323F;
  color: #D4DBD2;
  border: 1px solid #D4DBD2;
}

/* New Pallate: 10-2019
 *  #2C323F (Dark Greyish)
 *  #E85C5A (Redish)
 *  #EDF4EB (Light green)
 *  #D4DBD2 (Light grey/green)
 *  #B2C6A3 (Desat green)

*/
