{% extends 'base.html' %}

{% block header %}
	<h1> {% block title %} Carriers {% endblock %}</h1>
{% endblock %}


{% block content %}

<div id="tablewrapper" class="row w-100">
	<div class="float-right text-right w-100 table-controls">
		<button class="fas fa-plus button-general" data-target="#editCarrierModal" data-toggle="modal" title="Add Carrier"> <b class="d-none d-lg-inline">Add Carrier</b></button>
	</div>
<table class="table table-bordered table-hover table-striped table-condensed" id="carrier-table">
<thead class="thead-dark">
<tr>
  <th scope="col" class="col-xs"> </th>
  <th scope="col" class="col-xs"> Carrier Name </th>
  <th scope="col" class="col-med"> Carrier Settings </th>
</tr>
</thead>
<tbody>
	{% for carrier in carriers %}
		<tr>
			<td class="col-xs">
				<button class="fas fa-pencil-alt button-general" data-id="{{ carrier.id }}" data-target="#editCarrierModal" data-toggle="modal"></button>
				<button class="fas fa-minus button-general remove-carrier" data-id="{{ carrier.id }}" ></button>
			</td>
			<td class="col-xs"> {{  carrier.name }}  </td>
			<td class="col-med">
				<div class="container">
					<div class="row">
							<div class="col-sm"><b>SMS (Text)</b></div> <div class="col-sm"><i>{{ carrier.textappend }}</i></div>
					</div>
					<div class="row">
							<div class="col-sm"><b>MP3 </b></div> <div class="col-sm"><i>{{ carrier.mp3append }}</i></div>
					</div>
					<div class="row">
							<div class="col-sm"><b>AMR </b></div> <div class="col-sm"><i>{{ carrier.amrappend }}</i></div>
					</div>
					</div>
				</td>

		</tr>
	{% endfor %}
</tbody>
</table>
</div>
{% endblock %}


{% block modals %}
{# carrier editing modal #}
<div class="modal fade" id="editCarrierModal" tabindex="-1" role="dialog" aria-labelledby="editCarrierModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCarrierModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	      <form id="carrier-form">
					<input type="hidden" data-id="" id="carrier-id">
					<div  id="carrier-container" class="container-fluid">
						<div class="form-group">
	            <label for="carrier-name" class="col-form-label">Carrier:</label>
	            <input type="text" class="form-control" id="carrier-name">
	          </div>
						<div class="form-group">
	            <label for="text-address" class="col-form-label">Text Address:</label>
							<div class="input-group">
								<div class="input-group-prepend">
										<span class="input-group-text">@</span>
								</div>
								<input type="text" class="form-control" id="text-address">
							</div>
	          </div>
						<div class="form-group">
	            <label for="mp3-address" class="col-form-label">MP3 Address:</label>
							<div class="input-group">
								<div class="input-group-prepend">
										<span class="input-group-text">@</span>
								</div>
								<input type="text" class="form-control" id="mp3-address">
							</div>
	          </div>
						<div class="form-group">
							<label for="amr-address" class="col-form-label">AMR Address:</label>
							<div class="input-group">
								<div class="input-group-prepend">
    								<span class="input-group-text">@</span>
  							</div>
								<input type="text" class="form-control" id="amr-address">
							</div>
						</div>
					</div>
	      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="editCarrierModalSave">Save</button>
      </div>
    </div>
  </div>
</div> {# /carrier Editing Modal #}

{# New carrier Modal #}
<div class="modal fade" id="newcarrierModal" tabindex="-1" role="dialog" aria-labelledby="newcarrierModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newcarrierModalLabel">Create new carrier</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<div clas="container-fluid">
					<span class="row w-100">
						<select id="carrier-type-select" class="w-50" style="margin-left: 0.5em;">
							<option val="-1"></option>
							{%  for type in types %}
								<option value="{{ type }}" title="{{ types[type]['description'] }}"> {{ type }} </option>
							{% endfor %}
						</select>
					</span>
				</div>
	      <form id="new-carrier-form">
					<input type="hidden" data-type="" id="carrier-type">
					<div  id="new-carrier-container" class="container-fluid">

					</div>
	      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="newcarrierModalSave" disabled>Save</button>
      </div>
    </div>
  </div>
</div> {# /New carrier Modal #}


{% endblock %}
