{% extends 'base.html' %}

{% block header %}
	<h1> {% block title %} Dashboard {% endblock %}</h1>
{% endblock %}


{% block content %}
<div class="container">
  <!-- <span class="row w-100"> Welcome to the Tone Alert Manager! </span> -->
	<div class="row dashboard-buttons">
  <!--  {% if perm_check(g.user.id,'modify_members') %} <div role="button" class="col-sm-4 btn home-button" id="membermanage" onClick="location.href='{{ url_for('alertmanager.member_manager') }}';"><span>Members</span></div> {% endif %}
    {% if perm_check(g.user.id,'modify_tones') %} <div role="button" class="col-sm-4 btn home-button" id="tonemanage" onClick="location.href='{{ url_for('alertmanager.tone_manager') }}';"><span>Tone sets</span></div> {% endif %}
		{% if perm_check(g.user.id,'modify_carriers') %}	<div role="button" class="col-sm-4 btn home-button" id="carriermanage" onClick="location.href='{{ url_for('alertmanager.carrier_manager') }}';"><span>Carriers</span></div> {% endif %}
		{% if perm_check(g.user.id,'modify_users') %} <div role="button" class="col-sm-4 btn home-button" id="usermanage" onClick="location.href='{{ url_for('alertmanager.user_manager') }}';"><span>Users</span></div> {% endif %}
		{% if perm_check(g.user.id,'modify_triggers') %} <div role="button" class="col-sm-4 btn home-button" id="triggermanage" onClick="location.href='{{ url_for('triggermanager.trigger_manager') }}';"><span>Triggers</span></div> {% endif %}

		-->
		<!-- Users -->
		<div class="ml-auto dash-item">
			<div class="dash-stat">
						{{ user_count }}
			</div>
			<div class="dash-name">
				Users
			</div>
		</div>

		<!-- Members -->
		<div class="ml-auto dash-item">
			<div class="dash-stat">
						{{ member_count }}
			</div>
			<div class="dash-name">
				Members
			</div>
		</div>

		<!-- Tones -->
		<div class="ml-auto dash-item">
			<div class="dash-stat">
						{{ tones_count }}
			</div>
			<div class="dash-name">
				Tones
			</div>
		</div>

		<!-- Triggers -->
		<div class="ml-auto dash-item">
			<div class="dash-stat">
						{{ trigger_count }}
			</div>
			<div class="dash-name">
				Triggers
			</div>
		</div>

		<!-- Carriers -->
		<div class="ml-auto dash-item">
			<div class="dash-stat">
						{{ carrier_count }}
			</div>
			<div class="dash-name">
				Carriers
			</div>
		</div>

    </div>
</div>

{% endblock %}
