{% extends 'base.html' %}

{% block header %}
	<h1> {% block title %} Members {% endblock %}</h1>
{% endblock %}


{% block content %}

<div id="tablewrapper" class="row w-100">
	<div class="float-right text-right w-100 table-controls">
		<button class="fas fa-plus button-general" data-target="#editMemberModal" data-toggle="modal" title="Add member"> <b class="d-none d-lg-inline">Add Member</b></button>
	</div>
<table class="table table-bordered table-hover table-striped table-condensed" id="member-table" style="width:100%">
<thead class="thead-dark">
<tr>
  <th scope="col" > </th>
  <th scope="col"> Member Name </th>
  <th scope="col" class="d-none d-sm-table-cell"> Member Carrier </th>
  <th scope="col" class="d-none d-sm-table-cell"> Phone Number </th>
  <th scope="col"> Subscriptions </th>
</tr>
</thead>
<tbody>
	{% for member in members %}
		<tr>
			<td class="w-1">
				<button class="fas fa-pencil-alt button-general" data-id="{{ member.id }}" data-target="#editMemberModal" data-toggle="modal"></button>
				<button class="fas fa-minus button-general remove-member" data-id="{{ member.id }}" ></button>
			</td>
			<td> {{  member.name }}  </td>
			<td class="d-none d-sm-table-cell"> {{ member.carrier.name }} </td>
			<td class="d-none d-sm-table-cell"> {{ phone_format(member.phone) }} </td>
			<td> {% if json_loads(member.receiveops) != None  %}
			     {% for tone in json_loads(member.receiveops) %}
			     <span class="fas fa-bell alert-icon"><sub>{{ loop.index }} </sub>
				     <span class="alert-tooltip">
					     <label>Name</label> {{ tone }}<br />
					     <label>Text</label> <input type="checkbox" {% if json_loads(member.receiveops)[tone]['text'] %}checked{% endif %} disabled> </input>
					     <label>MP3</label> <input type="checkbox" {% if json_loads(member.receiveops)[tone]['mp3']  %}checked{% endif %} disabled> </input>
					     <label>AMR</label> <input type="checkbox" {% if json_loads(member.receiveops)[tone]['amr']  %}checked{% endif %} disabled> </input>

				     </span>
			     </span>
	     		     {% endfor %}

			     {% endif %}

				 </td>
		</tr>
	{% endfor %}
</tbody>
</table>
</div>
{% endblock %}


{% block modals %}
<div class="modal fade" id="editMemberModal" tabindex="-1" role="dialog" aria-labelledby="editMemberModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editMemberModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="member-name" class="col-form-label">Member:</label>
            <input type="text" class="form-control" id="member-name">
	    <input type="hidden" id="member-id">
          </div>
          <div class="form-group">
            <label for="phone-number" class="col-form-label">Phone Number:</label>
            <input type="text" class="form-control" id="phone-number">
          </div>
					<div class="form-group">
            <label for="email-address" class="col-form-label">Email Address (Optional):</label>
            <input type="text" class="form-control" id="email-address">
          </div>
	  <div class="form-group">
            <label for="carrier" class="col-form-label">Phone Carrier:</label>
            <select  class="form-control" id="carrier">
		{% for carrier in carriers %}
			<option value="{{ loop.index }}"> {{ carrier.name }} </option>
		{% endfor %}
	    </select>
	  </div>
	  <div class="form-group tone-group">
			<div class="row">
				<div class='col-sm-2'><b>Tone Name</b></div>
				<div class='col-sm text-center' title="Send selections to member email"><b>Email</b></div>
				<div class='col-sm text-center' title="Send selections to member phone"><b>Phone</b></div>
				<div class='col-sm text-center'> </div>
				<div class='col-sm text-center' title="Send text notification on detection of tones. Nothing else is included"><b>Text</b></div>
				<div class='col-sm text-center' title="Send MP3 recording after tones are detected to be finished (Good for most phones)"><b>MP3</b></div>
				<div class='col-sm text-center' title="Send AMR recording after tones are detected to be finished (Good for anything that MP3 fails to work with)"><b>AMR</b></div>
				<div class='col-sm text-center'><b></b></div>
			</div>
			<div class='container-fluid' id="member-tone-table">
				<!-- Left blank intentionally -->
			</div>
	  </div>
		<div class="form-group container-fluid text-right">
				<span id="member-tone-add"  class="fas fa-plus button-general"></span>
		</div>

      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="editMemberModalSave">Save</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
