{% extends 'base.html' %}

{% block header %}
	<h1> {% block title %} User Profile: {{ user.username }} {% endblock %}</h1>
{% endblock %}


{% block content %}
<div id="profilewrapper" class="w-50">
  <form id="edit-profile" method="POST">
    <div class="formgroup">
      <label for="email">Email Address: </label>
      <input type="text" class="form-control" id="email" name="email" placeholder="Email Address" value="{{ user.email }}">
    </div>
    <div class="form-group">
      <label for="password" class="">Password:</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="New Password">
      <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm New Password" >
      <small id="passwordHelpBlock" class="form-text text-muted">
          While this program doesn't put many constraints on password length (At least 5 characters) or complexity, please be aware of the password you choose and make it strong, unique and memorable.
      </small>
    </div>

    <button type="submit" class="btn btn-primary" id="saveUserProfile">Save</button>
    </form>
</div>
{% endblock %}
