{% extends 'base.html' %}

{% block header %}
	<h1> {% block title %} Tones {% endblock %}</h1>
{% endblock %}


{% block content %}

<div id="tablewrapper" class="row w-100">
	<div class="float-right text-right w-100 table-controls">
		<button class="fas fa-plus button-general" data-target="#newToneModal" data-toggle="modal" title="Add Tone"><b class="button-text d-none d-lg-inline">Add Tone</b></button>
	</div>
<table class="table table-bordered table-hover table-striped table-condensed" id="tone-table" style="width:100%">
<thead class="thead-dark">
<tr>
  <th scope="col" class="col-xs-1"> </th>
	<th scope="col" class="col-xs-2"> Tone Name </th>
	<th scope="col" class="col-xs-5"> Tone Settings </th>
</tr>
</thead>
<tbody>
	{% for tone in tones %}
		<tr>
			<td class="col-xs-1">
				<button class="fas fa-pencil-alt button-general" data-id="{{ tone.id }}" data-target="#editToneModal" data-toggle="modal"></button>
				<button class="fas fa-minus button-general remove-tone" data-id="{{ tone.id }}" ></button>
			</td>
			<td class="col-xs-2">{{  tone.name }}</td>
			<td class="col-xs-5">
				{% if json_loads(tone.settings) != None  %}
					{% for setting in json_loads(tone.settings) %}
					<div class="row">
							<div class="col"><b>{{ setting | replace("_"," ")|capitalize() }}</b></div>
							<div class="col">
								{% set safetone = tone.name.encode('utf-8') %}
								{% set safesetting = setting.encode('utf-8') %}
								{% set tone_settings = types[tone.name | regex_replace('\d$','')]['settings'][setting] %}
								{% set setting_value = json_loads(tone.settings)[setting] %}
								{% if tone_settings['datatype']  == 'boolean'  %}
									<span> <i> {{ "Yes" if setting_value else "No"  }} {{ tone_settings['unit']  }}</i></span>
								{% else %}
									<span> <i> {{ setting_value  }} {{ tone_settings['unit']  }}</i></span>
								{% endif %}
						</div>


					</div>
					{% endfor %}
					{% endif %}
				</td>

		</tr>
	{% endfor %}
</tbody>
</table>
</div>
{% endblock %}


{% block modals %}
{# Tone editing modal #}
<div class="modal fade" id="editToneModal" tabindex="-1" role="dialog" aria-labelledby="editToneModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editToneModalLabel">New tone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	      <form id="tone-form">
					<input type="hidden" data-id="" id="tone-id">
					<div  id="tone-container" class="container-fluid">

					</div>
					<div id="trigger-container" class="container-fluid">
						<h6> Trigger Execution </h6>
						<div class='' id="trigger-list">

						</div>
					</div>
	      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="editToneModalSave">Save</button>
      </div>
    </div>
  </div>
</div> {# /Tone Editing Modal #}

{# New Tone Modal #}
<div class="modal fade" id="newToneModal" tabindex="-1" role="dialog" aria-labelledby="newToneModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newToneModalLabel">Create new tone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<div class="container-fluid">
					<span class="row w-100">
						<select id="tone-type-select" class="w-50" style="margin-left: 0.5em;">
							<option val="-1"></option>
							{%  for type in types %}
								<option value="{{ type }}" title="{{ types[type]['description'] }}"> {{ type }} </option>
							{% endfor %}
						</select>
					</span>
				</div>
	      <form id="new-tone-form">
					<input type="hidden" data-type="" id="tone-type">
					<div  id="new-tone-container" class="container-fluid">

					</div>
					<div id="newtone-trigger-container" class="container-fluid">
						<h6 hidden> Trigger Execution </h6>
						<div class='container-fluid' id="newtone-trigger-list">

						</div>
					</div>
	      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="newToneModalSave" disabled>Save</button>
      </div>
    </div>
  </div>
</div> {# /New Tone Modal #}


{% endblock %}
