{% extends 'base.html' %}

{% block header %}
	<h1> {% block title %} Triggers {% endblock %}</h1>
{% endblock %}


{% block content %}
<div id="tablewrapper" class="row w-100">
	<div class="float-right text-right w-100 table-controls">
		<button class="fas fa-plus button-general" data-target="#editTriggerModal" data-toggle="modal" title="Add Trigger"> <b class="d-none d-lg-inline">Add Trigger</b></button>
	</div>
  <table class="table table-bordered table-hover table-striped table-condensed" id="trigger-table" style="width:100%">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="width:5vw"> </th>
        <th scope="col"> Trigger Name </th>
        <th scope="col"> Trigger Type </th>
				<th scope="col"> Trigger Settings </th>
      </tr>
    </thead>
    <tbody>
    {% for trigger in triggers %}
      <tr>
        <td class="w-1">
  				<button class="fas fa-pencil-alt button-general" data-id="{{ trigger.id }}" data-target="#editTriggerModal" data-toggle="modal"></button>
  				<button class="fas fa-minus button-general remove-trigger" data-id="{{ trigger.id }}" ></button>
					<button class="fas fa-play button-general test-trigger" data-id="{{ trigger.id }}" ></button>
					<button class="fas fa-clone button-general copy-trigger-url" data-id="{{ trigger.id }}" ></button>
					<input type="text" value="{{ url_for('triggermanager.execute_trigger', arg=trigger.guid, _external=True) }}" data-id="{{trigger.id}}" class="trigger-url"></input>
  			</td>
        <td> {{ trigger.name }} </td>
        {% set settings = json_loads(trigger.settings) %}
        <td> {{ settings.type }} </td>
				<td>
						{% for setting in settings %}
							{%  if not setting == 'type' %}
							<span class="row"> <b class="col">{{ setting }}</b> <i class="col"> {{ settings[setting] }} </i> </span>
							{% endif %}
						{% endfor %}
				</td>
      </tr>
    {% endfor%}
    </tbody>
  </table>
{% endblock %}

{% block modals %}
<div class="modal fade" id="editTriggerModal" tabindex="-1" role="dialog" aria-labelledby="editTriggerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form id="triggerform" method=''>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editTriggerModalLabel">New Trigger</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<input type="hidden" id="trigger-id">
          <div class="form-group">
            <label for="trigger-name" class="col-form-label">Trigger Name:</label>
            <input type="text" class="form-control" id="trigger-name" name="trigger-name" placeholder="New Trigger">
          </div>
          <div class="form-group">
            <label for="trigger-type" class="col-form-label">Trigger Type:</label>
          <select  class="form-control" id="trigger-type" name="trigger-type">
							<option value="blank">  </option>
						{% for type in triggertypes %}
							<option value="{{ type }}">{{ type }}</option>
						{% endfor %}
					</select>
          </div>
    	  <div class="form-group">
                <span class="col-form-label"><b>Settings</b></span>
								<div id="trigger-settings-wrapper">
									<!-- Stuff will go here when generated -->
								</div>
    	  </div>
				<span id="trigger-guid"></span><br/>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="editTriggerModalSave">Save</button>
      </div>
    </div>
    </form>
  </div>
</div>

{% endblock %}
