{% extends 'base.html' %}

{% block header %}
	<h1> {% block title %} Users {% endblock %}</h1>
{% endblock %}


{% block content %}

<div id="tablewrapper" class="row w-100">
	<div class="float-right text-right w-100 table-controls">
		<button class="fas fa-plus button-general" data-target="#editUserModal" data-toggle="modal" title="Add User"> <b class="d-none d-lg-inline">Add User</b></button>
	</div>
<table class="table table-bordered table-hover table-striped table-condensed" id="user-table" style="width:100%">
<thead class="thead-dark">
<tr>
  <th scope="col" style="width:5vw"> </th>
  <th scope="col"> User Name </th>
  <th scope="col" class="d-none d-sm-table-cell"> User Email </th>
  <th scope="col"> Permissions </th>
</tr>
</thead>
<tbody>
	{% for user in users %}
		<tr>
			<td class="w-1">
				<button class="fas fa-pencil-alt button-general" data-id="{{ user.id }}" data-target="#editUserModal" data-toggle="modal"></button>
				<button class="fas fa-minus button-general remove-user" data-id="{{ user.id }}" ></button>
			</td>
			<td> {{  user.username }}  </td>
			<td class="d-none d-sm-table-cell"> {{ user.email }} </td>
			<td>
          {% set permissions = json_loads(user.perms) %}
        <i class="fas fa-address-book" aria-hidden="true" {%  if permissions['modify_members'] == true  %} style="color: green;" title="Can Modify Members: Yes" {% else %} style="color:red" title="Can Modify Members: No" {% endif %} ></i>
        <i class="fas fa-pager" aria-hidden="true" {%  if permissions['modify_tones'] == true  %} style="color: green;" title="Can Modify Tones: Yes" {% else %} style="color:red" title="Can Modify Tones: No" {% endif %} ></i>
        <i class="fas fa-mobile-alt" aria-hidden="true" {%  if permissions['modify_carriers'] == true  %} style="color: green;" title="Can Modify Carriers: Yes" {% else %} style="color:red" title="Can Modify Carriers: No" {% endif %} ></i>
        <i class="fas fa-users-cog" aria-hidden="true" {%  if permissions['modify_users'] == true  %} style="color: green;" title="Can Modify Users: Yes" {% else %} style="color:red" title="Can Modify Users: No" {% endif %} ></i>
				<i class="fas fa-exclamation-circle" aria-hidden="true" {%  if permissions['modify_triggers'] == true  %} style="color: green;" title="Can Modify Triggers: Yes" {% else %} style="color:red" title="Can Modify Triggers: No" {% endif %} ></i>
       </td>

		</tr>
	{% endfor %}
</tbody>
<tfoot>
  <tr>
    <td scope="col" colspan="4" class="table-key">
      <span class="key-item">  <i> Permission Icon Key:</i> </span>
      <span class="key-item">  <i class="fas fa-address-book" aria-hidden="true"> Members</i></span>
      <span class="key-item">  <i class="fas fa-pager" aria-hidden="true"> Tones</i></span>
      <span class="key-item">  <i class="fas fa-mobile-alt" aria-hidden="true"> Carriers</i></span>
      <span class="key-item">  <i class="fas fa-users-cog" aria-hidden="true"> Users</i></span>
			<span class="key-item">  <i class="fas fa-exclamation-circle" aria-hidden="true"> Triggers</i></span>
      <span class="key-item">  <b style="color: green;">Allowed</b> </span>
      <span class="key-item">  <b style="color: red;">Not Allowed</b> </span>
    </td>
  </tr>
</tfoot>
</table>
</div>
{% endblock %}


{% block modals %}
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form id="userform" method=''>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUserModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="username" class="col-form-label">User:</label>
            <input type="text" class="form-control" id="username" name="username">
	    <input type="hidden" id="user-id">
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">Email Address:</label>
            <input type="text" class="form-control" id="email" name="email">
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label">Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="New Password">
            <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm New Password" >
            <small id="passwordHelpBlock" class="form-text text-muted">
                While this program doesn't put many constraints on password length (At least 5 characters) or complexity, please be aware of the password you choose and make it strong, unique and memorable.
            </small>
          </div>
    	  <div class="form-group">
                <span class="col-form-label"><b>Permissions</b></span>
                <!-- Modify Members -->
                <div class=row>
                  <div class="col-sm-4"><label for="pmembers"> Modify Members: </label></div>
                  <div class='col-sm-2 text-center'> <input id="pmembers" data-type="modperm" data-perm="modify_members" type='checkbox'></div>
                </div>
                <!-- Modify Tones -->
                <div class=row>
                  <div class="col-sm-4"><label for="ptones"> Modify Tones: </label></div>
                  <div class='col-sm-2 text-center'> <input id="ptones" data-type="modperm" data-perm="modify_tones" type='checkbox'></div>
                </div>
                <!-- Modify Carriers -->
                <div class=row>
                  <div class="col-sm-4"><label for="pcarriers"> Modify Carriers: </label></div>
                  <div class='col-sm-2 text-center'> <input id="pcarriers" data-type="modperm" data-perm="modify_carriers" type='checkbox'></div>
                </div>
                <!-- Modify Users -->
                <div class=row>
                  <div class="col-sm-4"><label for="pusers"> Modify Users: </label></div>
                  <div class='col-sm-2 text-center'> <input id="pusers" data-type="modperm" data-perm="modify_users" type='checkbox'></div>
                </div>
								<!-- Modify Triggers -->
								<div class=row>
									<div class="col-sm-4"><label for="ptriggers"> Modify Triggers: </label></div>
									<div class='col-sm-2 text-center'> <input id="ptriggers" data-type="modperm" data-perm="modify_triggers" type='checkbox'></div>
								</div>



    	  </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="editUserModalSave">Save</button>
      </div>
    </div>
    </form>
  </div>
</div>

{% endblock %}
