{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id="login-screen" class="row h-100" >
  <div class="col">
    <div class="login-form my-auto w-50">
       <form method="post" name="login">
        <div class="form-group">
            <label for="username">Username</label>
          	<input name="username" id="username" placeholder="Enter Username" required>
        </div>
        <div class="form-group">
          	<label for="password">Password</label>
          	<input type="password" name="password" id="password" placeholder="Password" required>
        </div>
          <div class="form-group">
            <button type="submit" class="ml-auto" for="login" value="Login">Log In</button>
          </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}
