<!doctype html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %} - Tone Alert Manager</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Stylesheets -->
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='datatables.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<!-- Javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/additional-methods.min.js"></script>
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>
<header class="page-header">
	<span class="logo-image"></span><h1 class="brand-text d-none d-lg-block"><b>T</b>one <b>A</b>lert <b>M</b>anager</h1>
	<span class="page-header-text ">{% block header %}{% endblock %} </span>
	{% if g.user %}
		 <a class="profile-button" title="Edit Profile" href="{{ url_for('admin.profile') }}"><i class="fas fa-address-card"	aria-hidden="true"></i><b class="d-none d-sm-block"> {{ g.user['username'] }}</b></a>
		 <a class="profile-button" title="Logout" href="{{ url_for('admin.logout') }}"><i class="fas fa-sign-out-alt"	aria-hidden="true"></i></a>
			<span class="dropdown d-block d-sm-none">
				<a href="#" class="dropdown-toggle profile-button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars" aria-hidden="true"></i></a>
				<ul class="dropdown-menu dropdown-menu-right bg-dark text-white ">
					<li class="nav-item" title="Dashboard"> <a href="{{ url_for('index') }}"><i class="fas fa-tachometer-alt"></i> <b>Dashboard</b></a></li>
					{% if perm_check(g.user.id,'modify_members') %}<li class="nav-item" title="Member Manager"><a href="{{ url_for('alertmanager.member_manager') }}"> <i class="fas fa-address-book"></i> <b>Members</b></a></li> {% endif %}
					{% if perm_check(g.user.id,'modify_tones') %}<li class="nav-item" title="Tone Manager"><a href="{{ url_for('alertmanager.tone_manager') }}"> <i class="fas fa-pager"></i> <b >Tones</b></a></li> {% endif %}
					{% if perm_check(g.user.id,'modify_carriers') %}<li class="nav-item" title="Carrier Manager"><a href="{{ url_for('alertmanager.carrier_manager') }}"> <i class="fas fa-mobile-alt"></i> <b >Carriers</b></a></li> {% endif %}
					{% if perm_check(g.user.id,'modify_carriers') %}<li class="nav-item" title="User Manager"><a href="{{ url_for('alertmanager.user_manager') }}"> <i class="fas fa-users-cog"></i> <b >Users</b></a></li> {% endif %}
					{% if perm_check(g.user.id,'modify_triggers') %}<li class="nav-item" title="Trigger Manager"><a href="{{ url_for('triggermanager.trigger_manager') }}"> <i class="fas fa-exclamation-circle"></i> <b >Triggers</b></a></li> {% endif %}
				</ul>
			</span>
			{% else %}
 		 {% endif %}

</header>
<div class="wrapper">
	{% if g.user %}
	<nav class="side-nav d-none d-sm-flex">
		<hr></hr>
		<span class="menu-label d-none d-lg-block" >Menu</span>
		<ul>
			<li class="nav-item" title="Dashboard"> <a href="{{ url_for('index') }}"><i class="fas fa-tachometer-alt"></i><b class="d-none d-lg-block">Dashboard</b></a></li>
			{% if perm_check(g.user.id,'modify_members') %}<li class="nav-item" title="Member Manager"><a href="{{ url_for('alertmanager.member_manager') }}"> <i class="fas fa-address-book"></i> <b class="d-none d-lg-block">Members</b></a></li> {% endif %}
			{% if perm_check(g.user.id,'modify_tones') %}<li class="nav-item" title="Tone Manager"><a href="{{ url_for('alertmanager.tone_manager') }}"> <i class="fas fa-pager"></i> <b class="d-none d-lg-block">Tones</b></a></li> {% endif %}
			{% if perm_check(g.user.id,'modify_carriers') %}<li class="nav-item" title="Carrier Manager"><a href="{{ url_for('alertmanager.carrier_manager') }}"> <i class="fas fa-mobile-alt"></i> <b class="d-none d-lg-block">Carriers</b></a></li> {% endif %}
			{% if perm_check(g.user.id,'modify_carriers') %}<li class="nav-item" title="User Manager"><a href="{{ url_for('alertmanager.user_manager') }}"> <i class="fas fa-users-cog"></i> <b class="d-none d-lg-block">Users</b></a></li> {% endif %}
			{% if perm_check(g.user.id,'modify_triggers') %}<li class="nav-item" title="Trigger Manager"><a href="{{ url_for('triggermanager.trigger_manager') }}"> <i class="fas fa-exclamation-circle"></i> <b class="d-none d-lg-block">Triggers</b></a></li> {% endif %}
		</ul>
		<hr></hr>
	</nav>
	{% else %}
 {% endif %}
	<section class="content">
		<div class="flash-container">
			<div class="dynamic-flash w-100">
			{% for message in get_flashed_messages() %}
			   <div class="flash w-85">{{ message }}</div>
			{% endfor %}
			</div>
		</div>
		<div class="container h-100">
			{% block content %}{% endblock %}
		</div>
	</section>
<footer class="footer">
	<div class="container-fluid">
		<span class="text-muted">TTDPanel by Rob Levesque</span>
	</div>
</footer>
</div>

 {% block modals %}{% endblock %}

</body>

</html>
